@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  font-family: 'Noto Sans Japanese', serif;
    max-width:640px;
    margin: 0 auto;
}


#content{
   margin: 0 auto;
  width:300px;
  height: 200px;
  padding:20px;
  position: relative;
}

#box{
  position: absolute;
  top: 75px;
   right:125px;
  width:50px;
  height:50px;
  background-color:#ddd;
}

#text{
    margin-top:40px;
}

#log {
    padding:5px;
    border:solid 1px #000;
    width:460px;
    height:150px;
    overflow:auto;
}

.balloon-set-box {
  display: flex;
  flex-wrap: wrap;
}
.balloon-set-box.left { /* 左 */
  flex-direction: row;
}
.balloon-set-box.right { /* 右 */
  flex-direction: row-reverse; /* アイコンと吹き出しの並びを入れ替える */
}
.balloon {
  position: relative; /* 三角の位置を固定するために設定 */
  display: inline-block;
  max-width: 300px;
  margin: 10px 20px 20px; /* 上 左右 下のマージン */
  padding: 8px 15px; /* ふきだし内の余白 */
  background: #f0f0f0; /* 背景色 */
  text-align: left; /* テキストの揃え */
  border-radius: 15px;
}
.balloon::after {
  content: '';
  border: 14px solid transparent;
  border-top-color: #f0f0f0;
  position: absolute;
  top: 0;
}
.left .balloon::after { /* 左側からの三角の位置 */
  left: -10px;
}
.right .balloon::after { /* 右側からの三角の位置 */
  right: -10px;
}
 
.icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  overflow: hidden;
}
